$color1: #aa015b;
$color2: #292929;
$color3: #efe0b6;

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  font-size: 0.625em;
  line-height: 3em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: $color2;
}

h1 {
  font-size: 3.5em;
}
.container {
  width: 90%;
  position: relative;
  margin: 0 auto;
}